In [ ]:
import pandas as pd
import numpy as np

# TASK 1

In [ ]:
df = pd.DataFrame(np.random.randint(0,100,size=(4,4)))
df

    0   1   2   3
0  66  40  30  59
1  94  19  15   8
2  10  86  80  46
3  67  31  86  27

# TASK **2**

In [ ]:
df.columns=["Random value 1","Random value 2","Random value 3","Random value 4"]
df

   Random value 1  Random value 2  Random value 3  Random value 4
0              66              40              30              59
1              94              19              15               8
2              10              86              80              46
3              67              31              86              27

# TASK 3

In [ ]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000         4.00000
mean        59.250000       44.000000       52.750000        35.00000
std         35.302266       29.291637       35.546917        22.28602
min         10.000000       19.000000       15.000000         8.00000
25%         52.000000       28.000000       26.250000        22.25000
50%         66.500000       35.500000       55.000000        36.50000
75%         73.750000       51.500000       81.500000        49.25000
max         94.000000       86.000000       86.000000        59.00000

# TASK 4

In [ ]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.dtypes

Random value 1    int64
Random value 2    int64
Random value 3    int64
Random value 4    int64
dtype: object

# TASK 5

In [ ]:
df.loc[:,'Random value 2']

0    40
1    19
2    86
3    31
Name: Random value 2, dtype: int64

In [ ]:
df.loc[:,'Random value 3']

0    30
1    15
2    80
3    86
Name: Random value 3, dtype: int64

In [ ]:
df.iloc[:,1]

0    40
1    19
2    86
3    31
Name: Random value 2, dtype: int64

In [ ]:
df.iloc[:,2]

0    30
1    15
2    80
3    86
Name: Random value 3, dtype: int64